In [6]:
import pandas as pd
df=pd.read_csv('Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [8]:
df.drop(['PassengerId','Name','SibSp','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age  Parch     Fare
0         0       3    male  22.0      0   7.2500
1         1       1  female  38.0      0  71.2833
2         1       3  female  26.0      0   7.9250
3         1       1  female  35.0      0  53.1000
4         0       3    male  35.0      0   8.0500

In [10]:
values=df.drop('Survived',axis='columns')
sur_predict=df.Survived
d=pd.get_dummies(values.Sex)
values=pd.concat([values,d],axis='columns')
values.drop('Sex',axis='columns',inplace=True)
values.head()

   Pclass   Age  Parch     Fare  female  male
0       3  22.0      0   7.2500       0     1
1       1  38.0      0  71.2833       1     0
2       3  26.0      0   7.9250       1     0
3       1  35.0      0  53.1000       1     0
4       3  35.0      0   8.0500       0     1

In [11]:
sur_predict.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [12]:
values.columns[values.isna().any()]

Index(['Age'], dtype='object')

In [13]:
values.Age=values.Age.fillna(values.Age.mean())
values.columns[values.isna().any()]

Index([], dtype='object')

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
a,b,c,d=train_test_split(values,sur_predict,test_size=0.3)
r=GaussianNB()
r.fit(a,c)

GaussianNB()

In [17]:
r.score(b,d)

0.7910447761194029

In [18]:
d[10:15]

23     1
781    1
513    1
651    1
504    1
Name: Survived, dtype: int64

In [19]:
r.predict(b[10:15])

array([0, 1, 1, 1, 1], dtype=int64)